@import '../../styles/variables';
@import '../../styles/mixins';

.adept-app__sidebar {
  @include transition(width);
  border-right: solid 1px #D4D5D9;
  overflow: hidden;
  position: fixed;
  height: calc(100vh - #{$header-height});
  margin-top: $header-height;
  background: #ddd;
  width: $sidebar-width;
  z-index: $sidebar-z-index;
  top: 0;
  left: 0;
  & > * {
    height: 100%;
  }

  &__collapse.md-btn {
    @include transition(color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 0.9rem;
    color: #aaa;
    height: 50px;
    i {
      @include transition;
      font-size: 1em;
      color: #aaa;
      display: block;
      transform-origin: 50%;
    }
    &:hover {
      color: #333;
      i {
        color: #333;
      }
    }
  }

  &__collapse-label {
    @include transition;
    display: block;
    margin-right: $gutter/3;
  }

  &__dropdown {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;

    .adept-app__sidebar__item {
      .md-fake-btn {
        padding-left: $gutter;
        text-decoration: none;
      }
      &--active {
        color: $brand-primary;
      }
    }
    a {
      text-decoration: none;
    }
  }

  &__dropdown-item {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 36px;
  }

  &__item {
    @include transition;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;

    &--active {
      background: $background-color;
    }

    &--active-color {
      .md-text {
        color: $brand-primary;
      }
    }

    .md-list-tile {
      width: 100%;
    }

    .md-list--nested-1 {
      .md-list-tile {
        padding-left: $gutter;
      }
    }

    .md-fake-btn {
    }

    .md-tile-addon--avatar {
      display: flex;
      align-items: center;
    }
  }

  &.adept-app__sidebar--collapsed {
    overflow: hidden;
    width: $sidebar-collapsed-width;

    .adept-app__sidebar {
      &__collapse.md-btn {
        i {
          transform: rotate(180deg);
          font-size: 1.2rem;
          margin-left: -105px;
        }
      }
      &__collapse-label {
        opacity: 0;
      }
    }
  }
}
